.statistic-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  margin-left: 241px;
}

.statistic-block-wrapper {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: flex-start;
}
