#root {
  width: 1920px;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
}

.app-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 60px;
  gap: 60px;
}

.app-content.statistic-mode {
  display: block;
  margin-top: 60px;
}
